@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

:root {
  --main-text: #757575;
  --text: #212121;
  --accent: #2196f3;
  --white: #ffffff;
  --footer-mail: rgba(255, 255, 255, 0.6);
  --background: #2f303a;
  --background-team: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.site {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.site .conteiner {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  align-items: center;
}

.site__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
  display: block;
}

.site__logo-web {
  color: var(--accent);
}

.site__logo-studio {
  color: var(--text);
}

.menu-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation .menu-list__item + .menu-list__item {
  margin-left: 50px;
}

.navigation .menu-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link--current:after {
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  background: var(--accent);
  height: 2px;
  border-radius: 2px;
  bottom: -34px;
}

.menu-list__link:hover,
.menu-list__link:focus {
  color: var(--accent);
}

.menu-list__link--current {
  color: var(--accent);
}

.contacts-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-nav .contacts-nav__item + .contacts-nav__item {
  margin-left: 50px;
}

.site-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
  display: block;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav__item .site-mail {
  display: flex;
  align-items: center;
}

.site-mail__icon {
  margin-right: 10px;
}

.site-mail:hover,
.site-mail:focus,
.site-mail__icon:hover,
.site-mail__icon:focus {
  color: var(--accent);
}

.site-mail:hover .site-mail__icon {
  fill: var(--accent);
}

.site-mail:focus .site-mail__icon {
  fill: var(--accent);
}

.site-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
  display: block;
  fill: var(--main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-tel:hover,
.site-tel:focus,
.site-tel__icon:hover,
.site-tel__icon:focus {
  color: var(--accent);
}

.site-tel:hover .site-tel__icon {
  fill: var(--accent);
}

.site-tel:focus .site-tel__icon {
  fill: var(--accent);
}

.contacts-nav__item .site-tel {
  display: flex;
  align-items: center;
}

.site-tel__icon {
  margin-right: 10px;
  fill: var(--main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--background);
  text-align: center;
  padding: 200px 0px 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  max-width: 696px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.mane__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__btn:hover,
.main__btn:focus {
  color: var(--accent);
}

.peculiar-list {
  display: flex;
}

.peculiar-list__item {
  width: 270px;
}

.peculiar-list__item:not(:last-child) {
  margin-right: 30px;
}

.peculiar-group {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.peculiar-group__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 10px;
}

.peculiar-group__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.activity {
  padding-bottom: 94px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-list__item {
  position: relative;
  width: 370px;
}

.activity-list__item:not(:last-child) {
  margin-right: 30px;
}

.activity-list__title {
  position: absolute;
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-team);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list__item:not(:last-child) {
  flex-basis: calc(25% - 30px);
  margin-right: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item {
  flex-basis: calc(25% - 30px);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-group {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-group__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-bottom: 10px;
}

.team-group__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 16px;
}

.team-group-list {
  display: flex;
  justify-content: center;
}

.team-group-list__item + .team-group-list__item {
  margin-left: 10px;
}

.team-group-link {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-group-link:hover,
.team-group-link:focus {
  background-color: var(--accent);
}

.team-group-link:hover .team-group-link__icon {
  fill: var(--white);
}

.team-group-link:focus .team-group-link__icon {
  fill: var(--white);
}

.team-group-link__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent);
}

.clients-link:focus .clients-link__img,
.clients-link:hover .clients-link__img {
  fill: var(--accent);
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-link__img {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts .conteiner {
  display: flex;
  align-items: baseline;
}

.contacts-link__web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
}

.contacts-link__studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.contacts-adress {
  font-style: normal;
}

.contacts-list {
  display: block;
}
.contacts-list .contacts-list__item + .contacts-list__item {
  margin-top: 9px;
}

.contacts-link {
  display: block;
  margin-bottom: 20px;
}

.contacts-link-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.contacts-link-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mail:hover {
  color: var(--accent);
}

.contacts-link-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-tel:hover {
  color: var(--accent);
}

/* ---Присоединяйтесь--- */
.contacts-soc {
  margin-left: auto;
}

.contacts-soc__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.contacts-soc-list {
  display: flex;
  justify-content: center;
}

.contacts-soc-list__item + .contacts-soc-list__item {
  margin-left: 10px;
}

.contacts-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-soc-link:hover, .contacts-soc-link:focus {
  background-color: var(--accent);
}

.contacts-soc-link:hover .contacts-soc-link__icon {
  fill: var(--white);
}

.contacts-soc-link__icon {
  fill: var(--white);
}

/* ----- Футер Подписка------ */
.subscription-box {
  display: flex;
  margin-top: 20px;
}

.subscription-form {
  margin-left: 93px;
}

.thumb-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription-input {
  min-width: 358px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  font-family: inherit;
  padding: 10px 28px 10px 29px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.submit-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5) rotate(-290deg);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 250ms;
  transform: translate(-50%, -50%) scale(1) rotate(0);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--accent);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: var(--main-text);
}

.modal-input:valid {
  border-color: #2196f3;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent);
}

.modal-field__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.check-text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-submit-btn {
  font-family: inherit;
  font-weight: 700;
  padding: 10px 55px 10px 56px;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 18px 16px 12px 16px;
  resize: none;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent);
  border: none;
  background-image: url(../images/icons/Vector\ \(4\).svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-check:focus + .check-text::before {
  border-color: var(--accent);
}

.treaty {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent);
  padding-left: 4px;
}

.btn-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--text);
  cursor: pointer;
}

.filtr-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filtr-list__btn {
  font-family: inherit;
  display: inline-block;
  text-align: center;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-list__btn:hover,
.filtr-list__btn:focus {
  background-color: #2196f3;
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-link:hover .portfolio-top-wrap__text,
.portfolio-link:focus .portfolio-top-wrap__text {
  transform: translateY(0%);
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-wrap__text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white);
  width: 100%;
  font-weight: 400;
  padding: 63px 24px;
  justify-content: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.title-group {
  padding: 20px 24px;
  border-right-width: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.title-group__top {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text);
  margin-bottom: 4px;
}

.title-group__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text);
}/*# sourceMappingURL=main.css.map */