.peculiar {
  padding-top: 94px;
    @media screen and (max-width: 1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
}

.peculiar-list {
    @media screen and (min-width: 768px) {
      display: flex; 
      flex-wrap: wrap;
      margin-top: -30px;
    margin-left: -30px;
    }
    
  &__item {
    
    @media screen and (min-width: 480px) {
      width: 450px;
      }
      @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }}
    @media screen and (min-width: 768px) {
      width: 354px;
      flex-basis: calc(100%/2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      flex-basis: calc(100%/4 - 30px);
    }
}
}
  
  .peculiar-group { 
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;}
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  &__title {
    @include font(14px, 1.14, 700, 0.03em);
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 10px;
  }
&__text {
  @include font(14px, 1.71, null, 0.03em);
    color: var(--main-text);
  }
}
  