:root {
    --main-text: #757575;
    --text: #212121;
    --accent: #2196f3;
    --white: #ffffff;
    --footer-mail: rgba(255, 255, 255, 0.6);
    --background: #2f303a;
    --background-team: #f5f4fa;
  }